<head>
    <link rel="stylesheet" href="/css/footer.css" />
</head>
<footer class="footer">
    <div class="footer_links">
        <p class="footer_contacts">
            Mail:
            <a href="mailto:francesco.ostidich@gmail.com">francesco.ostidich@gmail.com</a><br />
            GitHub:
            <a href="https://github.com/Fostidich" target="_blank" rel="noopener noreferrer">Fostidich</a><br />
            LinkedIn:
            <a href="https://linkedin.com/in/francesco-ostidich" target="_blank" rel="noopener noreferrer">francesco-ostidich</a
            ><br />
            Discord:
            <a href="https://discord.com/channels/@me" target="_blank" rel="noopener noreferrer">fostidich</a><br />
            Telegram:
            <a href="https://t.me/kekkkko" target="_blank" rel="noopener noreferrer">kekkkko</a><br />
            Instagram:
            <a href="https://instagram.com/kekkko_" target="_blank" rel="noopener noreferrer">kekkko_</a><br />
        </p>
        <div class="footer_nav">
            <ul>
                <li><a href="/about" class="">about</a></li>
                <li><a href="/projects" class="">projects</a></li>
                <li><a href="/resume" class="">résumé</a></li>
                <li><a href="/contacts" class="">contacts</a></li>
            </ul>
        </div>
    </div>
    <p align="center">&copy; Francesco Ostidich <%= new Date().getFullYear(); %></p>
</footer>
