<footer class="footer">
    <p>
        Mail: <a href="mailto:francesco.ostidich@gmail.com">francesco.ostidich@gmail.com</a><br />
        GitHub: <a href="https://github.com/Fostidich">Fostidich</a><br />
        LinkedIn: <a href="https://linkedin.com/in/francesco-ostidich">francesco-ostidich</a><br />
        Discord: <a href="https://discord.com/channels/@me">fostidich</a><br />
        Instagram: <a href="https://instagram.com/kekkko_">kekkko_</a><br />
    </p>
    <p>&copy; Francesco Ostidich <%= new Date().getFullYear(); %></p>
</footer>
