<footer class="footer">
    <div class="footer_links">
        <p class="footer_contacts">
            Mail: <a href="mailto:francesco.ostidich@gmail.com">francesco.ostidich@gmail.com</a><br />
            GitHub: <a href="https://github.com/Fostidich">Fostidich</a><br />
            LinkedIn: <a href="https://linkedin.com/in/francesco-ostidich">francesco-ostidich</a><br />
            Discord: <a href="https://discord.com/channels/@me">fostidich</a><br />
            Instagram: <a href="https://instagram.com/kekkko_">kekkko_</a><br />
        </p>
        <div class="footer_nav">
            <ul>
                <li><a href="/home" class="">home</a></li>
                <li><a href="/projects" class="">projects</a></li>
                <li><a href="/resume" class="">résumé</a></li>
                <li><a href="/contacts" class="">contacts</a></li>
            </ul>
        </div>
    </div>
    <p align="center">&copy; Francesco Ostidich <%= new Date().getFullYear(); %></p>
</footer>
