<header class="header">
    <a href="/" class="header_logo">Fostidich</a>
    <nav class="header_nav">
        <ul>
            <li><a href="/home" class="">home</a></li>
            <li><a href="/projects" class="">projects</a></li>
            <li><a href="/resume" class="">résumé</a></li>
            <li><a href="/contacts" class="">contacts</a></li>
        </ul>
    </nav>
</header>
