<head>
    <link rel="stylesheet" href="/css/header.css" />
</head>
<header class="header">
    <a href="/" class="header_logo">Fostidich</a>
    <div class="header_nav">
        <a href="/about" class="">about</a>
        <a href="/projects" class="">projects</a>
        <a href="/resume" class="">résumé</a>
        <a href="/contacts" class="">contacts</a>
    </div>
</header>
