<!doctype html>
<html lang="en">
    <head>
        <title>Francesco Ostidich</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico" />
        <meta charset="UTF-8" />
        <meta name="keywords" content="francesco, ostidich, fostidich" />
        <meta name="description" content="Francesco Ostidich Website" />
        <meta name="author" content="Francesco Ostidich" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" defer src="/js/script.js"></script>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/header.ejs') %>
            <main class="main"><%- body %></main>
            <%- include('../partials/footer.ejs') %>
        </div>
    </body>
</html>
