<h1>About</h1>
<div class="welcome_images">
    <img src="/assets/images/me-park.jpg" alt="me in the park with mattia" />
    <img src="/assets/images/me-wall.jpg" alt="me with sunglasses" />
    <img src="/assets/images/me-dad.jpg" alt="me and dad on degree day" />
</div>
<p>Hi, I’m Francesco Ostidich, a Master’s student in Computer Science from Milan, Italy.</p>
<p>
    I hold a Bachelor’s degree in Computer Science from Politecnico di Milano, where I am continuing 
    my studies to deepen my knowledge and broaden my skillset. I’m actively seeking hands-on challenges 
    that allow me to apply and grow my coding expertise.
</p>

