<head> </head>

<h1>About</h1>
<p>Hi, I'm Francesco Ostidich, a Master's student in Computer Science from Milan, Italy.</p>
<div class="presentation">
    <p>
        I hold a Bachelor's degree in Computer Science from Politecnico di Milano, where I am currently pursuing my Master's. I
        am passionate about applying and expanding my coding knowledge by actively working on personal projects. Through these,
        I continuously challenge myself with new programming languages and technologies to sharpen my practical, hands-on
        skills, while completing my studies.
    </p>
    <img class="name_snippet" src="/assets/images/name_snippet.svg" alt="name snippet" />
</div>

<h2>Coding experience</h2>
<p>
    Over the course of my studies and personal projects, I have gained experience with various programming languages and
    technologies. Some I am proficient in, while others I have used occasionally and am still improving. Below is a breakdown of
    my experience.
</p>
<div class="presentation">
    <img class="langs_snippet" src="/assets/images/langs_snippet.svg" alt="languages snippet" />
    <ul>
        <li><strong>Proficient:</strong> C, C++, Java, Python, Cuda, Git, LaTeX</li>
        <li><strong>Familiar:</strong> Rust, x86, RISC-V, Bash, SQL, HTML, CSS, VHDL</li>
    </ul>
</div>
