<h1>Contacts</h1>
<div class="contacts_list">
    <li>
        <a href="mailto:francesco.ostidich@gmail.com"><img src="/assets/icons/mail.svg"></img></a>
        Mail:&nbsp;
        <a href="mailto:francesco.ostidich@gmail.com">francesco.ostidich@gmail.com</a>
    </li>

    <li>
        <a href="https://github.com/Fostidich" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/github.svg"></img></a>
        GitHub:&nbsp;
        <a href="https://github.com/Fostidich" target="_blank" rel="noopener noreferrer">Fostidich</a>
    </li>

    <li>
        <a href="https://linkedin.com/in/francesco-ostidich" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/linkedin.svg"></img></a>
        LinkedIn:&nbsp;
        <a href="https://linkedin.com/in/francesco-ostidich" target="_blank" rel="noopener noreferrer">francesco-ostidich</a>
    </li>

    <li>
        <a href="https://t.me/kekkkko" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/telegram.svg"></img></a>
        Telegram:&nbsp;
        <a href="https://t.me/kekkkko" target="_blank" rel="noopener noreferrer">kekkkko</a>
    </li>

    <li>
        <a href="https://instagram.com/kekkko_" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/instagram.svg"></img></a>
        Instagram:&nbsp;
        <a href="https://instagram.com/kekkko_" target="_blank" rel="noopener noreferrer">kekkko_</a>
    </li>
</div>
