<h1>Projects</h1>

<div class="project">
    <div style="text-align: right">
        <h2>Students & Companies Website</h2>
        <b>C#, JavaScript - Course Project - 2024/25</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/students_and_companies.jpg" alt="home page screenshot" />
        <p>
            For the Software Engineering 2 course, I led a 3-person team in developing a full-stack
            <a href="https://github.com/Fostidich/Students-And-Companies" target="_blank" rel="noopener noreferrer">platform</a>
            which helps students discover internship opportunities posted by companies.
            The backend, built in C#, implemented REST APIs for a React frontend.
            We also designed and deployed a MySQL database, following a three-tier architecture.
            Our solution, with over 10 000 lines of code, ensured both robustness and efficiency.<br \>
            This project helped me gain hands-on experience across a full coding and production pipeline, covering a wide spectrum of software development concepts.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: left">
        <h2>Convolutional NN Training</h2>
        <b>Python - Course Challenge - 2024</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/anndl.jpg" alt="challenge sample example" />
        <p>
            For the Artificial Neural Networks & Deep Learning course, our team tackled two
            <a href="https://github.com/matteobettiati/neural-network-november" target="_blank" rel="noopener noreferrer">challenges</a>
            using TensorFlow and Keras.<br \>
            The first involved training a convolutional neural network for blood cell classification from microscopic images.
            We improved performance especially through data augmentation, securing a strong placement in the competition.
            The second challenge required segmenting and classifying Mars terrain images, where we ranked second among nearly 300 participants.
            We exploited a U-Net-based architecture for semantic segmentation with custom loss functions to optimize accuracy.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>Well MEing App</h2>
        <b>Swift, Python - Course Project - 2024/25</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/well_meing.jpg" alt="app sections screenshots" />
        <p>
            As a multidisciplinary project, I led a 5-person team in developing a full-stack client-server
            <a href="https://github.com/Fostidich/Well-MEing" target="_blank" rel="noopener noreferrer">platform</a>
            for a wellness habit-tracking app.
            We created a native iOS application backed by Firebase, using a NoSQL database to store user data and integrating two AI modules, one
            generating personalized reports, and another for converting commands provided via speech into actions.
            I focused primarily on developing the SwiftUI mobile app, while also contributing to cloud deployment and API design.
            We conducted thorough user testing to stress-test the system, which helped us fine-tune performance and significantly improve the overall user experience.
            The final codebase reached nearly 10,000 lines.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: left">
        <h2>Wisp/Secret Password Manager</h2>
        <b>C++/Rust - Personal Project - 2023/24 </b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/wisp_secret.jpg" alt="wisp/secret snippet" />
        <p>
            Wisp is a CLI password generator that simplifies multi‑device authentication, avoiding the complexity of centralized
            password databases. I first coded a prototype in Rust (<a
                href="https://github.com/Fostidich/Secret"
                target="_blank"
                rel="noopener noreferrer"
                >Secret</a
            >), and then developed the enhanced implementation in C++ (<a
                href="https://github.com/Fostidich/Wisp"
                target="_blank"
                rel="noopener noreferrer"
                >Wisp</a
            >).<br />
            By inserting username, provider and a personal key, an hash is generated to be used as a password. Moreover, the
            format of the hash (letters, digits and symbols) can be customized, along with the number of password resets.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>MyShelfie Game</h2>
        <b>Java - Course Project - 2023</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/myshelfie.jpg" alt="myshelfie game screenshot" />
        <p>
            I led a 4‑person team in developing a client‑server app that reproduced the MyShelfie table game. This was done for
            the Software Engineering 1 course, and was my first big coding project, which helped gain confidentiality with
            high-level programming.<br />
            The Java
            <a href="https://github.com/0xabi/ing-sw-2023-margarini-nasr-niedda-ostidich" target="_blank" rel="noopener noreferrer">software</a>
            has been completed with a contribution of over 10k lines of code. We adopted the MVC pattern, developing a
            well-tested core model along with an optimized client‑server network controller and a responsive GUI.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: left">
        <h2>Fractal Art Generator</h2>
        <b>C/Cuda - Course Project - 2024</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/fractal_art.jpg" alt="fractal art example" />
        <p>
            Made for the GPUs & heterogeneous systems course,
            <a href="https://github.com/Fostidich/Fractal-Art" target="_blank" rel="noopener noreferrer">this</a>
            program produces an image by first computing the graph of a fractal. Two input images are then incorporated to generate the
            final image: the first one is placed inside the fractal borders, and the other outside. A shadow effect creates the
            illusion of depth.<br />
            The naive version of the application is written in C. Following versions rely on different Cuda optimization
            techniques to lower the computational time, thanks to parallel programming.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>Time Travel Date Extractor</h2>
        <b>C - Personal Project - 2024</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/time_travel.jpg" alt="time travel snippet" />
        <p>
            Many times it happens to have a folder full of different files which names contain a date.
            <a href="https://github.com/Fostidich/Time-Travel" target="_blank" rel="noopener noreferrer">This</a>
            terminal line app brings order to folders by extracting dates from messy filenames. All files in the specified path are scanned,
            and if a date is detected in their names, the file is renamed with a common format.<br />
            Developing this program gave me the opportunity to learn and understand how regex patterns work, and how to use them
            directly in a coding context.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: left">
        <h2>Expressway Route Planner</h2>
        <b>C - Course Project - 2023</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/route_planner.jpg" alt="route planner search" />
        <p>
            The project for the Data Structures & Algorithms course consisted in developing an efficient route planning
            algorithm for finding the shortest path in a expressway graph. The tree data structure and breadth-first search
            algorithm were to be designed from scratch, fulfilling strict time and memory constraints.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>Tagger</h2>
        <b>Rust - Personal Project - 2024</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/tagger.jpg" alt="tagger snippet" />
        <p>
            I wanted a way to tag files directly from the terminal, so I built a Rust-based
            <a href="https://github.com/Fostidich/Tagger" target="_blank" rel="noopener noreferrer">alternative</a>
            to 'ls'.
            With a single command, files can be assigned colors, and when listing a directory, tagged files appear
            in their designated colors. This improves organization while preserving the simplicity of the original command.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>Vectorial Demux Memory Reader</h2>
        <b>VHDL - Course Project - 2023</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/vdmr.jpg" alt="vdmr architecture" />
        <p>
            I designed an efficient FPGA model as project for the Logical Networks course. The
            <a href="https://github.com/Fostidich/VDMR" target="_blank" rel="noopener noreferrer">FPGA</a>
            had to read an address as a sequential input, and output the respective value to a designated exit port. Operating
            at a low structural level allowed for a perfect time optimality.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: left">
        <h2>Plass Lesson Tracker</h2>
        <b>Python - Personal Project - 2023</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/plass.jpg" alt="plass snippet" />
        <p>
            <a href="https://github.com/Fostidich/Plass" target="_blank" rel="noopener noreferrer">This</a>
            is a little Python script I wrote to keep track of lesson dates. The terminal line app stores the list of dates for each
            course, and with various commands it allows to add, remove and show values and progress. A counter also tells how
            many past lectures have been left behind and are to be seen.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>Personal Website</h2>
        <b>HTML/CSS - Personal Project - 2024</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/personal_website.jpg" alt="personal website screenshot" />
        <p>
            Since I had never worked with HTML or CSS, I've taken the opportunity to learn those hands-on by designing my own
            <a href="https://github.com/Fostidich/Personal-Website" target="_blank" rel="noopener noreferrer">personal website</a>
            using Node.js and Express.js.
        </p>
    </div>
</div>
