<h1>Projects</h1>

<div class="project">
    <div style="text-align: left">
        <h2>Wisp/Secret Password Manager</h2>
        <b>C++/Rust - Personal Project</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/wisp_secret.png" alt="wisp/secret snippet" />
        <p>
            Built a CLI password hash generator to simplify multi‑device authentication without the complexity of centralized
            password databases. Prototyped in Rust, final implementation developed in C++.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: right">
        <h2>MyShelfie Game</h2>
        <b>Java - Course Project</b>
    </div>
    <div class="project_description_right">
        <img src="/assets/images/myshelfie.png" alt="myshelfie game screenshot" />
        <p>
            Led a 4‑person team in developing a client‑server app that reproduced the MyShelfie table game, completing it with
            over 30,000 lines. The MVC pattern was adopted, developing a core model along with an optimized client‑server
            network controller and a responsive GUI.
        </p>
    </div>
</div>

<div class="divider"></div>

<div class="project">
    <div style="text-align: left">
        <h2>Fractal Art Generator</h2>
        <b>Cuda - Course Project</b>
    </div>
    <div class="project_description_left">
        <img src="/assets/images/fractal_art.png" alt="fractal art example" />
        <p>Explanation</p>
    </div>
</div>

<div class="divider"></div>

<h2>Time Travel Date Extractor</h2>

<div class="divider"></div>

<h2>Expressway Route Planner</h2>

<div class="divider"></div>

<h2>Vectorial Demux Memory Reader</h2>

<div class="divider"></div>

<h2>Plass Lesson Tracker</h2>

<div class="divider"></div>

<h2>Personal Website</h2>
