<h1>Résumé</h1>
<div class="resume">
    <img class="image_cv" src="/assets/doc/CV.png" alt="CV" />
    <a class="download_cv" href="/assets/doc/CV.pdf" download="Francesco Ostidich CV.pdf">Download</a>
</div>
