header {
    padding: 25px 50px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-weight: 800;
    font-size: var(--font-size-h2);
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}

.header_logo:hover {
    background-color: rgba(0, 0, 0, 0.1);
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.37));
    border-radius: 10px;
}

.header_nav {
    text-align: center;
}

.header_nav ul li {
    display: inline;
    padding: min(8px, 1vw);
    list-style-type: none;
    font-size: var(--font-size-p);
}

.header_nav ul li a {
    text-decoration: none;
    color: var(--white);
    padding: min(10px, 1vw);
}

.header_nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.37));
}
