@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #001020;
    --white: #efffdf;
    --blue: #000080;
    --yellow: #ffff7f;
    --font-size-h1: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-h2: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-h3: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-p: clamp(1rem, 0.3vw + 0.87rem, 1.4rem);
}

a {
    color: var(--yellow);
    text-decoration: none;
}

a:hover {
    color: var(--white);
}

h1 {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    font-size: var(--font-size-h1);
}

h2 {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    font-size: var(--font-size-h2);
}

h3 {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    font-size: var(--font-size-h3);
}

html {
    font-size: var(--font-size-p);
    overscroll-behavior: none;
    -webkit-user-drag: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 450;
    text-align: justify;
    color: var(--white);
    margin: 0;
    background-color: var(--black);
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/grainy_gradient.png') no-repeat center/cover;
    z-index: -1;
    pointer-events: none;
}

main {
    padding: 25px;
    font-size: var(--font-size-p);
    margin: 0px max(0px, calc(50vw - 500px));
    padding-bottom: 100px;
}
